.splide:not(.is-overflow) .splide__arrows {
    display: none !important;
}

.splide:not(.is-overflow) .splide__slide:last-child {
    margin: 0 !important;
}

.level1 {
    background:
        radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0% / 8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 4px, transparent 4px) 100% 0% / 8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 4px, transparent 4px) 0% 100% / 8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 4px, transparent 4px) 100% 100% / 8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 8px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 16px) calc(100% - 8px) no-repeat,
        linear-gradient(120deg, #e8e8e8 0%, #939393 60%);
}

.level2 {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 4px, transparent 4px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 4px, transparent 4px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 4px, transparent 4px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 8px) no-repeat,
        linear-gradient(120deg, #21ddd3 0%, #8185ff 60%);
}

.level3 {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 4px, transparent 4px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 4px, transparent 4px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 4px, transparent 4px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 8px) no-repeat,
        linear-gradient(120deg, #e8c918 0%, #ba221e 60%);

}

.level4 {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 4px, transparent 4px) 0% 0%/8px 8px no-repeat,
        radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 4px, transparent 4px) 100% 0%/8px 8px no-repeat,
        radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 4px, transparent 4px) 0% 100%/8px 8px no-repeat,
        radial-gradient(circle at 0 0, #ffffff 0, #ffffff 4px, transparent 4px) 100% 100%/8px 8px no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 8px) calc(100% - 16px) no-repeat,
        linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 8px) no-repeat,
        linear-gradient(120deg, #7c18e8 0%, #b31eba 60%);
}

.level5 {
    --border-angle: 0turn;
    --border-size: 5px;
    background: conic-gradient(from var(--border-angle),
            #fff,
            #fff 50%,
            #fff),
        conic-gradient(from var(--border-angle), darkorchid 0%,
            tomato 50%,
            gold 100%);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)),
        cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 8s linear infinite;

}



@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;

}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}